.grid {
    display: flex;
    flex: 1;
}

.outerTitleContainerContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
}

.outerTitleWrapper {
    flex-basis: 100%;
    font-size: 25px;
}

.columnContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;
    margin: 20px;
}